<!doctype html>
<html lang="en">
    <partial name="~/Views/Shared/_HeaderIncludes.cshtml" />
    <body>
        <partial name="~/Views/Shared/_Header.cshtml" />
        <main>
            @RenderBody()
        </main>
        <partial name="~/Views/Shared/_Footer.cshtml" />
    </body>
</html>