@model PageViewModel

<!doctype html>
<html lang="en">
<partial name="~/Views/Shared/_HeaderIncludes.cshtml", model="Model" />
<body>
    <partial name="~/Views/Shared/_BodyIncludes.cshtml" />
    <main>
        <div class="container">
            <partial name="~/Views/Shared/_Header.cshtml" />
            @RenderBody()
            <partial name="~/Views/Shared/_Footer.cshtml" />
        </div>
    </main>
</body>
</html>